.carousel{
    width: 100%;
    .carousel-wrapper{
        margin: 5%;
        margin-top: 10%;
    }
}

.prev-btn{
    position: relative;
    left: 69%;
    top:-20px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 0px 12px;
    font-size: 28px;
    cursor: pointer;
    height:38px;
    border-color: #5d5b5b;
  }
.next-btn{
    position: relative;
    left: 24%;
    top:-20px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 0px 12px;
    font-size: 28px;
    cursor: pointer;
    height:38px;
    border-color: #5d5b5b;
}
.heading-text{
    position: relative;
    left: 24%;
    font-size: 19px;
    top: 89px;
    width: 12%;
    display: inline-block;
}
.carousel-wrapper{
  display:flex;
  justify-content: center;
  margin-top: 100px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px){ 
    .carousel-wrapper{
        margin: 0;
        margin-top: 10%;
    }
   .prev-btn{
       left:78%;
       top:-20px; 
    }
    .next-btn{
        left:12%;
        top:-20px; 
     }
     .heading-text{
        left: 10%;
        width: 14%;
        margin-bottom: 10px;
     }
}
@media only screen and (max-width: 767px) {
    .heading-text{
        width: 90%;
        margin-bottom: 60px;
    }
}
