<div class="nav-wrapper">
  <div class="grad-bar">
    <div class="yellow-bar"></div>
    <div class="black-bar"></div>
  </div>
  <nav class="navbar">
    <div class="menu-icon">
      <!--  <span class="fa fa-bars"></span> -->
    </div>
    <div class="logo">
      <img src="assets/logo.png">
    </div>
    <div class="nav-item">
      <ul>
        <li>Store</li>
        <li>Product & Services</li>
        <li>Help & Support</li>
        <li>
          <form (ngSubmit)="search()">
            <input class="search-input" *ngIf="isSearch" name='searchdata' required [ngClass]="isSearch ? 'expand': ''"
              type="text" placeholder="Search..">
            <span class="fa fa-search" id="search-icon" (click)="toggleSearch()"></span>
            <span class="fa fa-times" (click)="toggleSearch()"></span>
          </form>
        </li>
        <li class="personalPosition"><i class="fa fa-circle available"></i>&nbsp; PERSONAL &nbsp;
          <i class="fa fa-angle-down"></i>
        </li>
      </ul>
    </div>
  </nav>
</div>