.nav-wrapper{
    background-color: white;
    box-shadow: 0px 0px 10px lightgrey;
    .grad-bar{
        .yellow-bar{
            width:10%;
            background-color: #F5C113;;
            height: 3px;
            float: left;
        }
        .black-bar{
            background-color: black;
            width:90%;
            background: black;
            height: 3px;
            float: left;
        }
    }
    nav .available{
            color: #F5C113 !important;
            font-size: 7px;
            vertical-align: middle;
    }


}
nav {
    width:100%;
    height: 70px;
    display: flex;
    justify-content: left;
    font-size: 14px;
    border-bottom: 1px solid #e5e5e5;
}
nav .menu-icon{
    display: none;
}
nav .logo{
    width:30%;
    margin-top: 10px;
    text-align: center;
}

nav .nav-item{
    width: 90%;
    text-align: center;
}
nav .nav-item ul li {
    list-style: none;
    float: left;
    padding: 10px;
    margin-top: 0px 20px;
}
nav .nav-item ul:last-child li{
    text-decoration: none;
    color:#757575;
    align-items: flex-end;
}

nav form{
  //  position: absolute;
    width: 60%;
   // left:10%;
}
nav form input{
    width: 90%;
   //position: absolute;
   // top:-45px;
    padding: 10px 0px;
    border: none;
    outline: none;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.5s;
    border-bottom: 1px solid #e5e5e5;
}
nav form{
    display: flex;
}
nav form input ::placeholder{
    font-size: 12px;
}
nav form input .expand{
    transform: scaleX(1);
    padding: 10px;
}
nav form input .expand ~ .fa-search{
    visibility: hidden;
}
nav form input .expand ~ .fa-times{
    display: block;
}
nav .fa{
    color:#757575
}
nav form .fa{
  //  position: absolute;
  //  top: -40px;
    right: 20px;
    cursor: pointer;
    color: #757575;
}
.fa-times{
    display: none;
}

@media (max-width :768px){
    nav .menu-icon {
        display: block;
        width:30px;
        height: 25px;
        position: absolute;
        top:20px;
        right: 20x;
        cursor: pointer;
        border: none;
        outline: none;
        color: #757575;
    }
    nav .menu-icon :after,
    nav .menu-icon::before{
        position: absolute;
        content: '';
        background: white;
        width: 30px;
        height: 5px;
        left:0;
        transition: 0.5s;
    }
    nav .menu-icon .expand-icon:after,
    nav .menu-icon .expand-icon:before{
        transform: rotate(45deg);
        color: #757575;
        top:10px;
    }
    nav .logo{
        position: absolute;
        width: 100%;
        height: 0;
        top:80px;
        transition: 00.5s;
        overflow: hidden;
    }

    nav .nav-item .expand-mobile{
        height: 700px;
    }
    nav .nav-item ul li {
        float: right;
        width: 90%;
        text-align: left;
    }
    nav form {
        left:30%;
        width:65%;
    }
    nav .menu-icon {

    }

}